<div class="container">
     <div class="row">
        <div class="col-md-3">

<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>

   <div class="col-md-9">
      <h1><font size="120">SUPER</font></h1>
      <h1><font color="#ADFF2F" size="120">TO-DO</font></h1>
      <h1><font size="120">LIST</font></h1>
      <div class="row">
        <div class="col-sm-offset-2 col-sm-10">
          <img src="http://www.lolila.biz/wp-content/uploads/2014/08/more-colourful-workspace-design-with-blue-and-orange-wall-decoration-wooden-table-basic-stationary-shelves-for-personal-collection-and-brown-transparent-chair-stand-on-friendly-wooden-floor.jpg" alt="workspace" align="right" height="400" width="420" class="img-circle">
        </div>
        </div>
      <h2 align="center">Get things done, anywhere, anytime. Sign up today!</h2>
 </div>


  </div>
</div>
      <!-- <span style="font-size:45px" class="glyphicon glyphicon-list-alt"></span> -->
